##########
# Flake8 #
##########
flake8~=4.0.1
flake8-functions~=0.0.6 # lint function.
flake8-if-statements~=0.1.0 # condition linting.
###################
## Other Linters ##
###################
black
isort[requirements_deprecated_finder] 
#################
# Documentation #
#################
sphinx~=4.4.0
furo~=2022.2.14
sphinx-hoverxref~=1.0.1
#################
# Static Typing # free PR's
#################
mypy~=0.931
types-orjson~=3.6.2