orjson~=3.6.5 # Faster alternative to the normal json module.
aiodns~=3.0 # included in aiohttp speed.
Brotli~=1.0.9 # included in aiohttp speed.
cchardet~=2.1.7 # included in aiohttp speed.
ciso8601~=2.2.0 # Faster datetime parsing.
uvloop~=0.16.0 # Faster event loops.
